<nav>
      <div class="title">
        <h1>Members Only</h1>
      </div>
			<a href="/">
				<div>
					<span> Home </span>
				</div>
			</a>
			<a href="/secret_code">
				<div>
					<span> Secret code </span>
				</div>
			</a>
			<a href="/logout">
				<div>
					<span> Log out </span>
				</div>
			</a>
		</nav>