<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		{{#if user}}
		{{> navWithUser}}
		{{else}}
		{{> nav}}
		{{/if}}
		<div class="main-container">
		{{{body}}}
		</div>
	</body>
</html>
