<h1>{{title}}</h1>

<h2>Current membership status: {{membershipStatus}}</h2>

<div class="errors">{{> errors}}</div>

<div class="input-container">
  <form class="secret-code-form" action="" method="post">
    <div class="input-container">
      <label for="secret-code">Enter the secret code:</label>
      <input class="sign-up-input" type="text" name="secret-code" id="secret-code">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>