<h1>{{title}}</h1>

<div class="sign-up-form-container">
  <form action="" method="post">
    <label for="first-name">First name:</label>
    <input type="text" name="first-name" id="first-name" required placeholder="John"/>
    <label for="last-name">First name:</label>
    <input type="text" name="last-name" id="last-name" required placeholder="Doe"/>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required placeholder="person@domain.com" />
  </form>
</div>