body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	color: #191046;
	display: block;
	background: url('../images/bg.png');
	background-position: cover;
}

a {
	color: #14035e;
	text-decoration: none;
}

nav {
	font-family: 'Permanent Marker', cursive;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav > a > div {
	display: flex;
	padding: 2rem;
	margin: 0 1rem;
	cursor: pointer;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	transition: 0.4s;
}

nav > a > div:hover {
	transform: scale(1.1);
	text-decoration: underline;
}

.title {
	margin-right: auto;
	text-align: center;
	margin-left: 2rem;
}

.title > h1 {
	font-size: 3rem;
	margin: auto;
}

.main-container {
	display: flex;
	flex-direction: column;
	margin: 1rem 2rem;
}

.body {
	display: block;
	text-align: center;
}

.sign-up-form-container {
	display: flex;
	flex-direction: column;
	background: lightblue;
	border: 1px solid grey;
	padding: 1rem 3rem;
	border-radius: 10px;
}

.input-container {
	margin: 1.4rem auto;
	text-align: center;
}

.input-container > input {
	padding: 5px;
	margin: 5px 1rem;
	width: 14rem;
}

.input-container.button {
	margin-bottom: 0.3rem;
}

.new-post-button {
	border: 1px solid grey;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	padding: 1rem;
	width: 12rem;
	margin: auto auto 1rem;
	cursor: pointer;
	transition: 0.3s;
}

.new-post-button:hover {
	background-color: rgb(7, 4, 49);
	color: #ddd;
}

.post-form {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 50%;
	text-align: center;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 2rem;
}

.post-form > * {
	display: flex;
	margin: 0.5rem auto;
}

.post-form > textarea {
	height: 5rem;
}

.form-element {
	width: 20rem;
	margin-bottom: 1rem;
}

.form-element > input {
	height: 1.2rem;
}

button {
	width: 5rem;
	padding: 1rem;
	margin: auto;
}

.sign-up-form-container {
	margin: 0 auto 2rem;
	display: flex;
}

.sign-up-input {
	display: block;
}

.errors {
	margin: auto;
	text-align: center;
}

.posts-title {
	margin: 2rem auto 0;
}

.posts {
	padding: 1rem 2rem;
}

.post-container {
	padding: 1rem 3rem;
	text-align: left;
	border: 1px solid black;
	margin: 3rem auto;
	max-width: 50rem;
	width: 60%;
	border-radius: 5px;
	background-color: rgba(185, 172, 235, 0.3);
}

.post-title {
	font-size: 2rem;
	font-weight: bold;
}

.post-content {
	font-size: 1.3rem;
}

.post-details {
	color: #6a6a6a;
}

.secret-code-form {
	display: block;
	margin: auto;
}
